.form-table {
  max-width: 300px;
  text-align: center;
}

.form-table td {
  box-sizing: border-box;
  min-width: 95px;
}

.form-table__top {
  font-weight: bold;
  text-align: center;
}

table+p.submit {
  margin-left: 40px;
}

#toplevel_page_censorshipy-censorship .wp-menu-image img {
  width: 20px;
  padding: 7px 0 0;
}

.form-table__option-left.invalid {
  border-color: #f66c6c; 
}

.form-table__option-left.invalid:focus {
  border-color: #f66c6c !important;
}

input[type="checkbox"].invalid {
  border-color: #f66c6c;
}