#CensorshipyForm {
  margin-top: 30px;
}

.updated p {
  display: flex;
  align-items: center;
}

.updated p img {
  margin-left: 5px;
  width: 25px;
}

.desc {
  display: flex;
  flex-direction: column;
}

.desc span {
  margin: 5px 0;
}

.form-table {
  width: 700px;;
  text-align: center;
}

.form-table td {
  box-sizing: border-box;
  min-width: 95px;
}

.form-table__top {
  font-weight: bold;
  text-align: center;
}

table+p.submit {
  margin-left: 40px;
}

#toplevel_page_censorshipy-censorship .wp-menu-image img {
  width: 20px;
  padding: 7px 0 0;
}

.form-table__option-left.invalid {
  border-color: #f66c6c; 
}

.form-table__option-left.invalid:focus {
  border-color: #f66c6c !important;
}

input[type="checkbox"].invalid {
  border-color: #f66c6c;
}

/* RESPONSIVE */
@media screen and (max-width: 782px) {
  .form-table td, .form-table th {
    display: table-cell;
  }
  #CensorshipyForm {
    overflow-x: scroll;
  }
}